* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
.header {
  min-width: 90vw;
  top: 0;
  z-index: 999;
  height: 30px;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: limegreen;
  color:white;
}
.heading {
  width: 50%;
  text-align: center;
}
.nav_links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav_links a {
  text-decoration: none;
  border-bottom : 2px solid transparent;
  transition: all 0.5s;
}
a {
  color: inherit;
}
.nav_links a:hover{

  border-bottom:2px solid black;
}